:root {
  --header-height: 70px;
}

* {
  margin: 0;
  padding: 0;
}

body {
  margin: 0;
  font-family: 'Roboto', sans-serif;
  background: whitesmoke;
}

header {
  position: fixed;
  top: 0;
  left: 0;
  background: whitesmoke;
  height: var(--header-height);
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: flex-end;
  border-bottom: 1px solid rgb(211, 211, 211, 0.75);
}

.nav {
  padding-right: 30px;
  font-family: 'Roboto', sans-serif;
  letter-spacing: .2rem;
}

.nav a {
  text-decoration: none;
  color: grey;
  background-color: whitesmoke;
}

.nav a:hover {
  text-decoration: none;
}

.nav__item {
  display: inline-block;
  padding-left: 10px;
  padding-right: 10px;
  padding-top: 5px;
  padding-bottom: 5px;
}

.background-image {
  width: 100%;
  height: 100vh;
  z-index: -10;
  position: absolute;
  object-fit: cover;
  margin: 0px;
  padding: 0px;
  background-size: auto;
  display: block;
}

.hero-container {
  height: 100vh;
  display: flex;
  align-items: center;
  justify-content: center;
}

.hero-content {
  font-family: 'Lato', sans-serif;
  text-align: center;
  color: #F8F8F8;
  max-width: 300px;
}

.hero-content h1 {
  letter-spacing: .1rem;
  font-size: 40px;
}

.section {
  padding: 30px;
}

.content-container {
  margin: auto;
  text-align: center;
  max-width: 600px;
}

.content h2 {
  padding-top: 20px;
  padding-bottom: 20px;
  letter-spacing: .1rem;
}

.experience-list ul {
  list-style: none;
}

.experience-list li {
  margin: 10px 14px;
  padding: 10px 14px;
  border-style: solid;
  border-width: 1px;
}

.contact-links li {
  font-size: 32px;
  display: inline-block;
  padding: 10px;
  text-align: center;
  list-style-type: none;
}

p {
  color: grey;
}

a {
  text-decoration: none;
  color: #3D5D69;
}

a:hover {
  text-decoration: underline;
  color: #3D5D69;
}

/* Mobile */
@media screen and (max-width: 617px) {
  .background-image {
    width: 100%;
    height: auto;
    padding-top: 70px;
  }
  .hero-container {
    height: 45vh;
  }

  nav .contact {
    display: none;
  }
}
